<!-- src/app/modules/recipes/favoritos-list/favoritos-list.html -->

<nav class="navbar">
  <div class="navbar-left">
    <a (click)="goToRecipes()" href="#">INICIO</a>
    <a href="#">CATEGORÍAS</a>
  </div>

  <div class="navbar-center">
    <h1>SABOR CASERO</h1>
  </div>

  <div class="navbar-right">
    <button class="icon-btn"><i class="fa fa-cog"></i></button>
    <button (click)="irALoginOPerfil()" class="icon-btn"><i class="fa fa-user-circle"></i></button>
    <button (click)="goToFavoritos()" class="icon-btn"><i class="fa fa-heart"></i></button>
  </div>
</nav>

<section class="busqueda-recetas">
  <img src="/2-removebg-preview.png" alt="Imagen de cocina" class="header-image">
  <h2>MIS RECETAS FAVORITAS ❤️</h2>
  <p>Estas son las recetas que marcaste con "me gusta".</p>
</section>

<div class="wrapper">
  <h2>❤️ Mis Recetas Favoritas</h2>

  <div *ngIf="recipes.length > 0; else noData" class="grid">
    <div class="card" *ngFor="let receta of recipes">
      <img *ngIf="receta.imagen" [src]="'data:image/jpeg;base64,' + receta.imagen" class="recipe-img" />
      <h3>{{ receta.nombre_receta }}</h3>
      <p><strong>Categoría:</strong> {{ receta.nombre_categoria }}</p>
      <p><strong>Autor:</strong> {{ receta.nombre_usuario }}</p>
      <p><strong>Descripción:</strong> {{ receta.descripcion }}</p>
      <button (click)="verDetalle(receta.id_receta)">Ver Detalles</button>
    </div>
  </div>

  <ng-template #noData>
    <p class="no-data">No tienes recetas favoritas aún.</p>
  </ng-template>
</div>
